.container{
    background-image: url(../images/zomato.avif);
    height: 600px;
    width: 1440px;
    
}
.image{
    width: 300px;
    height: 60px;
    position: relative;
    top: 200px;
    left: 40%;

}
.data{
    color: ghostwhite;
    position: relative;
    top: 200px;
    left: 27%;
    font-family: 'Times New Roman', Times, serif;
}
a{
    margin-left: 15px;
    position: relative;
    left: 1050px;
    color: ghostwhite;
    text-decoration: none;
}