Popup.css .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.popup.visible {
  display: block;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.sticky-element {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: lightblue;
  padding: 10px;
}

.content {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.dropzone {
  /* border: 2px solid #cccccc; */

  text-align: center;
  cursor: pointer;
  width: 4vw;
  height: 8vh;
}

.dropzone img {
  width: 100%;
  height: 100%;
  display: block;


}

.image {
  height: 8vh;
  display: flex;
}

.icon {
  width: 100%;
  height: 100%;
}

.text {
  margin-left: 5%;

  width: 10vw;
}

.pic {
  position: relative;
  left: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.rounded-image {
  cursor: pointer;
}

.image-fullview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.image-fullview img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.job-title {

  display: flex;
}

.edit {
  cursor: pointer;
}

.one {
  width: 50%;
}

.wanted {
  width: 25vw;

}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.work {
  width: 20vw;
  height: 6vh;
  border: none;
  outline: none;
  background-color: #eaf6ff;
  margin-bottom: 5px;
}

.work:hover {
  border-bottom: 2px solid #c3e5fe;
}

.emp-main {
  border: 1px solid gray;
}

.emp-div {
  width: 83.55%;

}

.main-div {
  width: 100%;

}

.div-in {

  width: 100%;
}

.div1 {

  width: 100%;
}

.icons {
  width: 40px;
  height: 40px;
}

.two {
  width: 50%;
  height: 100vh;
  background-color: gray;
  /* text-align: center; */
  pointer-events: none;
}

.resume {
  background-color: aquamarine;
  width: 100%;
  max-height: 100px;
  margin-top: 5%;

  display: flex;
}

#pdf-content {
  background-color: black;
  width: 70%;
  padding: 0%;
}

.two-one {
  width: 70%;
  background-color: #0f3871;
  /* margin-left: 10%; */

}

.name {
  margin-right: 2%;

}

.role {
  text-align: left;
  width: fit-content;
  margin-top: -10%;
}

.two-two {
  width: 30%;
  height: 100%;

}

.details {

  margin-top: 50%;
}

.place {
  margin-top: 5%;
}

.popup.visible {
  display: block;
}

.resume-body {
  display: flex;
  min-height: 100vh;
}

.resume-container {
  flex: 1 1 0%;
  width: 100%;
}

.resume-title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 32px;
  text-align: center;
  margin-bottom: .5rem;
}

.title-content {
  max-width: 100%;
  vertical-align: top;

}

.content-box {
  max-width: 100%;
  height: 35px;
}

.score-body {
  position: sticky;
  background-color: white;
  padding-bottom: 1rem;
  padding-top: .8rem;
  user-select: none;
}

.score-body::before {
  right: 100%;
}

.score-body::after {
  left: 100%;
}

.score-body::before,
.score-body::after {
  width: 48px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;

}

.score-content {
  display: flex;
  flex-direction: row;
}

.score-left-body {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.score-percent {
  font-size: .875rem;
  line-height: 1rem;
  letter-spacing: .3px;
  margin-right: 10px;
  background-color: #ec930c;
  padding: 2px 5px;
  height: 20px;
  font-weight: 600;
  border-radius: 2px;
  width: fit-content;
  color: white;
}

.resume-para {
  font-size: 1rem;
  color: #757272;
}

.resume-profile-body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 auto;
  margin-bottom: 5px;
}

.resume-profile-content {
  position: relative;
}

.profile-body {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  white-space: nowrap;
}

.profile-body p {
  line-height: 1.2rem;
  font-size: 1rem;
  color: #757272;
  font-weight: 400;
}

.profile-sum-percent p {
  font-size: .875rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 2px 4.5px;
  border-radius: 4px;
  color: #217d47;
  background-color: #e7f4ed;
  height: 1.2rem;
  margin-right: 7px;
}

.profile-body p:hover {
  color: blue;
}

.profile-sum-percent p::after {
  content: "%"
}

.profile-sum-suggest {
  height: 1.2rem;
  width: 1.5rem;
  margin-bottom: 1rem;
  color: #339d5d;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
}

.resume-left {
  border-right: 2px solid grey;
  height: 100%;
  max-width: 850px;
  width: 50%;
}

.resume-left-content {
  padding: 45px;
  height: inherit;
  width: inherit;
}

.content-box input {
  width: 100%;
  height: 100%;
  font: inherit;
  outline: none;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  caret-color: rgba(133, 133, 238, 0.678);
}
.progress-bar{
  margin-right: 5px;
  margin-top: 15px;
}
.react-tel-input .flag-dropdown {
  border: none !important;
  background-color: transparent !important;

}

.react-tel-input .flag-dropdown:hover {
  background-color: transparent !important;
}

.react-tel-input .form-control {
  width: 20vw !important;
  height: 6vh;
  border: none !important;
  background-color: #eaf6ff !important;
}

.resume-right {
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #656e83;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.sticky-element {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: lightblue;
  padding: 10px;
}

.content {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.dropzone {
  /* border: 2px solid #cccccc; */

  text-align: center;
  cursor: pointer;
  width: 4vw;
  height: 8vh;
}

.dropzone img {
  width: 100%;
  height: 100%;
  display: block;


}

.image {
  height: 8vh;
  display: flex;
}

.icon {
  width: 100%;
  height: 100%;
}

.text {
  margin-left: 5%;

  width: 10vw;
}

.pic {
  position: relative;
  left: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.rounded-image {
  cursor: pointer;
}

.image-fullview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.image-fullview img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.job-title {

  display: flex;
}

.edit {
  cursor: pointer;
}

.one {
  width: 50%;
}

.wanted {
  width: 25vw;

}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.work {
  width: 20vw;
  height: 6vh;
  border: none;
  outline: none;
  background-color: #eaf6ff;
  margin-bottom: 5px;
}

.work:hover {
  border-bottom: 2px solid #c3e5fe;
}

.emp-main {
  border: 1px solid gray;
}

.emp-div {
  width: 50%;
}

.icons {
  width: 40px;
  height: 40px;
}

.two {
  width: 50%;
  height: 100vh;
  background-color: gray;
  /* text-align: center; */
  pointer-events: none;
}

.resume {
  background-color: aquamarine;
  width: 100%;
  max-height: 100px;
  margin-top: 5%;

  display: flex;
}

#pdf-content {
  background-color: black;
  width: 70%;
  padding: 0%;
}

.two-one {
  width: 70%;
  background-color: #0f3871;
  /* margin-left: 10%; */

}

.name {
  margin-right: 2%;

}

.role {
  text-align: left;
  width: fit-content;
  margin-top: -10%;
}

.two-two {
  width: 30%;
  height: 100%;

}

.details {

  margin-top: 50%;
}

.place {
  margin-top: 5%;

}

.paragh {
  width: 100%;
  /* height: 30vh; */

  margin-bottom: 10%;
}

.summary {

  text-align: left;
  width: 100%;
  flex-wrap: wrap;
  height: fit-content;
  margin-bottom: 0%;
  margin-left: 0%;

}

.prof {
  margin-bottom: 0%;

}

.mess {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 0%;
  display: flex;
  flex-wrap: wrap;
}

.input {
  text-align: left;
}

/* #pdf-content{
    height: 100%;
  } */
.inp1 {
  background-color: aqua;
}


.main-full {
  background-color: gray;
  width: 70%;
  min-height: 800px;
  max-height: auto;

  display: flex;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.main-right {
  width: 70%;
  background-color: white;

  min-height: 800px;
  max-height: auto;
}

.main-left {
  width: 30%;
  min-height: 800px;
  max-height: auto;
  background-color: #0f3871;

  color: white;
}

.name1 {
  margin-bottom: 0%;
  margin-left: 9%;
  margin-right: 5%;
}

.name2 {
  margin-bottom: 0%;
}

.name {
  margin-top: 0%;
  width: 150px;
  margin-left: 10%;
}

.cont-1 {
  margin-left: 10%;
  margin-top: 5%;
}

.fon {
  font-size: 0.9rem;
  font-weight: bolder;
  margin-top: 2%;
  margin-bottom: 1%;
}

.head {
  margin-bottom: 0%;
  margin-top: 3%;
}

.subj {
  margin-left: 10%;
  text-align: left;
}

.workk {
  width: 9vw;
  margin-right: 1.5vw;
  height: 6vh;
  background-color: #eaf6ff;
  border: none;
  outline: none;
}

.fontt {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}

.fonttt {
  font-size: 0.8rem;
  margin-top: 2%;
  margin-bottom: 4%;
}

.sum {
  font-size: x-small;
  margin-top: -2%;
  margin-left: 5%;
}

.pincode {
  text-align: left;
  margin-left: 15%;
}

.heading {
  margin-bottom: 5%;
  margin-top: 7%;
}

.cont {
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 0%;
  /* background-color: #c3e5fe; */
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

.cit {
  margin-top: 0%;
  font-size: small;
  margin-bottom: 0%;
}

.conte {
  margin-top: 0%;
  font-size: x-small;
}

.heading1 {
  font-size: small;
  margin-top: 10%;
  margin-bottom: 5%;
  color: #c3e5fe;
}

.top {
  margin-top: 15%;
}

.ill {
  display: flex;
}

.ski {
  margin-top: 0%;
  margin-bottom: 0%;
}

.ski1 {
  text-align: right;
  margin-bottom: 0%;
  width: 20px;
  /* background-color: aqua; */
  margin-top: 0%;

}

#cit {
  width: 100px;
  margin-right: 0%;
  /* background-color: #c3e5fe; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0%;
  margin-top: 0%;
  overflow: hidden;
}

.main-full {
  background-color: black;

}

.delete {
  background-color: white;
  border: none;
  color: blue;
  font-size: large;
}

.add {
  background-color: skyblue;
  color: blue;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-top: 5px;
}

.first {
  /* background-color: #0f3871; */
  margin-right: 0%;
}

.progress {
  /* width: 0%; */
  height: 1vh;
  background-color: aquamarine;
}

.arrow {
  margin-bottom: 2%;
  margin-top: 0.5%;
  margin-left: auto !important;

}

.flex {
  border: 1px solid gray;
  width: 77.3%;

  border-radius: 5px
}

.flexx {

  border: 1px solid gray;
  width: 92.5%;
  border-radius: 5px;

}

#flexx {
  border: 1px solid gray;
  width: 61%;
  border-radius: 5px;


}

.flexxx {

  border: 1px solid gray;
  width: 110%;
  border-radius: 5px;

}

.des {
  width: 90%;
}

#custom {
  border: none;
  outline: none;
  border-bottom: 1px solid blue;
  font-size: 1rem;
  font-weight: bold;
  max-width: fit-content;
}

#cust {
  height: 3vh;
  margin-top: 1.2vw;
  background-color: white;
  border: none;
  color: blue;
  font-size: 1.1rem;
  font-weight: bold;
}