* {
  font-family: TT Commons, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

Popup.css .popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}


.popup.visible {
  display: block;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.sticky-element {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: lightblue;
  padding: 10px;
}

.content {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.dropzone {


  text-align: center;
  cursor: pointer;
  width: 4vw;
  height: 8vh;
}

.dropzone img {
  width: 100%;
  height: 100%;
  display: block;


}

.image {
  height: 8vh;
  display: flex;
}

.icon {
  width: 100%;
  height: 100%;
}

.text {
  margin-left: 5%;

  width: 10vw;
}

.pic {
  position: relative;
  left: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.rounded-image {
  cursor: pointer;
}

.image-fullview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.image-fullview img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.select-photo-container {
  display: flex;

}

.photo-icon {
  font-size: 2rem;
}

.photo-edit-container {
  margin-top: -13.55%;
  margin-bottom: 0%;
}

.job-title {
  margin-bottom: 15px;
  display: flex;
}

.edit {
  cursor: pointer;
}

.one {
  width: 50%;
}

.wanted {
  width: 25vw;

}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.work {
  width: 20vw;
  height: 6vh;
  border: none;
  outline: none;
  background-color: #eff2f9;
  margin-bottom: 5px;
}

.work:hover {
  border-bottom: 2px solid #c3e5fe;
}

/* .emp-main {
  border: 1px solid gray;
  cursor: default;
} */

.emp-div {
  width: 83.55%;

}

.main-div {
  width: 100%;

}

.div-in {

  width: 100%;
}

.div1 {

  width: 100%;
}

.icons {
  width: 40px;
  height: 40px;
}

.two {
  width: 50%;
  height: 100vh;
  background-color: gray;
  /* text-align: center; */
  pointer-events: none;
}

.resume {
  background-color: aquamarine;
  width: 100%;
  max-height: 100px;
  margin-top: 5%;

  display: flex;
}

#pdf-content {
  background-color: black;
  width: 100%;
  padding: 100%;
}

.two-one {
  width: 70%;
  background-color: #0f3871;
  /* margin-left: 10%; */

}

.name {
  margin-right: 2%;

}

.role {
  text-align: left;
  width: fit-content;
  margin-top: -10%;
}

.two-two {
  width: 30%;
  height: 100%;

}

.details {

  margin-top: 50%;
}

.place {
  margin-top: 5%;
}

.popup.visible {
  display: block;
}

.resume-body {
  display: flex;
  min-height: 100vh;
}

.resume-container {
  flex: 1 1 0%;
  width: 100%;
}

.resume-title {

  font-size: 24px;
  font-weight: 500;
  padding: 0 32px;
  text-align: center;
  margin-bottom: 8px;
}

.title-content {
  max-width: 100%;
  vertical-align: top;

}

.content-box {
  /* max-width: 100%; */
  height: 35px;
  display: flex;

}

.score-body {
  position: sticky;
  background-color: white;
  padding-bottom: 16px;
  padding-top: 14px;
  user-select: none;
}

.score-body::before {
  right: 100%;
}

.score-body::after {
  left: 100%;
}

.score-body::before,
.score-body::after {
  width: 48px;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;

}

.edit-button {
  outline: none;
  border: none;
  color: #1a91f0;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
}

.edit-details {
  display: flex;
}

.edit-details KeyboardArrowUpIcon {
  height: 20px;
}

.left-pdetails-container {
  margin-bottom: 30px;
}

.css-i4bv87-MuiSvgIcon-root {
  height: 25px !important;
  width: 25px !important;
}

.score-content {
  display: flex;
  flex-direction: row;
}

.score-left-body {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.score-percent {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .3px;
  margin-right: 10px;
  background-color: #ec930c;
  padding: 2px 5px;
  height: 20px;
  font-weight: 600;
  border-radius: 2px;
  width: fit-content;
  color: white;
}

.resume-para {
  font-size: 16px;
  color: #757272;
}

.resume-profile-body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 auto;
  margin-bottom: 5px;
}

.resume-profile-content {
  position: relative;
}

.profile-body {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  white-space: nowrap;
}

.profile-body p {
  line-height: 19.2px;
  font-size: 16px;
  color: #757272;
  font-weight: 400;
}

.profile-sum-percent p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 4.5px;
  border-radius: 4px;
  color: #217d47;
  background-color: #e7f4ed;
  height: 19.2px;
  margin-right: 7px;
}

.details-heading-content {
  display: flex;
  flex-flow: row;
}

.header-label {
  display: flex;
  margin-bottom: 16px;
  position: relative;
  display: inline-flex;
  align-items: center;

}

.handle-heading {
  display: flex;
}

.handle-heading button {
  outline: none;
  border: none;
  background-color: transparent;

}

.handle-heading h3 {
  font-size: 23px;
  margin-right: 4px;
  font-weight: 600;
}

.handle-input {
  border: none;
  outline: none;
  font-size: 23px;
  margin-right: 4px;
  font-weight: 600;
}

.profile-body p:hover {
  color: blue;
}

.profile-sum-percent p::after {
  content: "%"
}

.profile-sum-suggest {
  height: 19.2px;
  width: 24px;
  margin-bottom: 1px;
  color: #339d5d;
  margin-left: 16px;
  cursor: pointer;
  position: relative;
}

.resume-left {
  border-right: 2px solid grey;
  height: 100%;
  max-width: 850px;
  width: 50%;

}

.resume-left-content {
  padding: 45px;
  height: inherit;
  width: inherit;

}

.content-box input {
  width: 100%;
  height: 100%;
  font: inherit;
  outline: none;
  border: none;
  text-align: center;
  padding: 0;
  margin: 0;
  caret-color: rgba(133, 133, 238, 0.678);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.edit-icon {
  margin-right: 200px;
}

.css-i4bv87-MuiSvgIcon-root {
  fill: blue !important;
}

.progress-score {
  margin-right: 5px;
  /* margin-top: 5px; */
  font-size: 16px;
}

.react-tel-input .flag-dropdown {
  border: none !important;
  background-color: transparent !important;

}

.react-tel-input .flag-dropdown:hover {
  background-color: transparent !important;
}

.react-tel-input .form-control {
  width: 20vw !important;
  height: 6vh;
  border: none !important;
  background-color: #eff2f9 !important;
}

.resume-right {
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  /* display: flex; */
  background-color: #656e83;
  justify-content: center;
  align-items: center;
}

.color-button {
  width: 8px;
  height: 8px;
  background-color: #0f3871;
  margin-top: 13%;
  margin-left: 5px;

}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.sticky-element {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: lightblue;
  padding: 10px;
}

.content {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.dropzone {
  /* border: 2px solid #cccccc; */

  text-align: center;
  cursor: pointer;
  width: 4vw;
  height: 8vh;
}

.dropzone img {
  width: 100%;
  height: 100%;
  display: block;

}

.image {
  height: 8vh;
  display: flex;
}

.icon {
  width: 100%;
  height: 100%;
}

.text {
  margin-left: 5%;

  width: 10vw;
}

.pic {
  position: relative;
  left: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.rounded-image {
  cursor: pointer;
}

.image-fullview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.image-fullview img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

.job-title {
  margin-bottom: 15px;
  display: flex;
  /* flex-flow: wrap; */
  grid-gap: 15px;


}

.data-label {
  margin-bottom: 5px;
}

.job label,
.photo label {
  font-size: 16px;
  font-weight: 500;
  color: #4e4e50;
  margin-bottom: 3px;
}

.job input,
.photo input {
  padding: 12px 16px;

}

.edit {
  cursor: pointer;
}

.one {
  width: 50%;
}

.wanted {
  width: 25vw;

}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.work {
  width: 20vw;
  height: 6vh;
  border: none;
  outline: none;
  background-color: #eff2f9;
  margin-bottom: 5px;
  font-size: 14px;
}

.work:hover {
  border-bottom: 2px solid #1a91f0;
}

.emp-main {
  width: -webkit-fill-available;
}

.emp-div {
  width: 50%;
}

.emp-delete-btn {
  display: flex;
  align-items: flex-start;
  margin-left: 25px;
}

.icons {
  width: 40px;
  height: 40px;
}

.two {
  width: 50%;
  height: 100vh;
  background-color: gray;
  /* text-align: center; */
  pointer-events: none;
}

.resume {
  background-color: aquamarine;
  width: 100%;
  max-height: 100px;
  margin-top: 5%;

  display: flex;
}

#pdf-content {
  /* background-color: black; */
  width: 90%;
  padding: 0%;
  min-height: 300px !important;
}

.two-one {
  width: 70%;
  background-color: #0f3871;
  /* margin-left: 10%; */

}

.name {
  margin-right: 2%;

}

.role {
  text-align: left;
  width: fit-content;
  margin-top: -10%;
}

.two-two {
  width: 30%;
  height: 100%;

}

.details {

  margin-top: 50%;
}

.place {
  margin-top: 5%;

}

.paragh {
  width: 100%;
  /* height: 30vh; */

  margin-bottom: 10%;
}

.summary {

  text-align: left;
  width: 100%;
  flex-wrap: wrap;
  height: fit-content;
  margin-bottom: 30px;
  margin-left: 0%;

}

.summry {
  margin-right: 3%;

}

.prof {
  margin-bottom: 0%;
  font-size: 18px;

}

.mess {
  width: 100%;
  font-size: 12.8px;
  margin-top: 0%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin-right: 5%;
}

.input {
  text-align: left;
}


.inp1 {
  background-color: aqua;
}


.main-full {
  background-color: gray;
  width: 90% !important;
  min-height: 600px;
  max-height: auto;
  overflow: visible;
  display: flex;
  margin-left: 4.8%;
  margin-top: 1%;
  margin-right: 0%;
  margin-bottom: 5%;
}

.main-right {
  width: 70%;
  background-color: white;
  overflow-y: visible;
  overflow: auto;
  min-height: 92vh;
  max-height: auto;
  scroll-behavior: none;
}

.main-left {
  width: 30%;
  min-height: 600px;
  max-height: auto;
  background-color: #0f3871;
  overflow-y: auto;
  color: white;
}

.name1 {
  margin-bottom: 0%;
  margin-left: 9%;
  margin-right: 5%;
}

.name2 {
  margin-bottom: 0%;
}

.name {
  margin-top: 0%;
  width: 150px;
  margin-left: 10%;
}

.cont-1 {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.fon {
  font-size: 12.8px;
  font-weight: bolder;
  margin-top: 2%;
  margin-bottom: 1%;
}

.head {
  margin-bottom: 0%;
  margin-top: 3%;
  font-size: 18px;
}

.subj {
  margin-left: 10%;
  text-align: left;
}

.workk {
  width: 9vw;
  margin-right: 1.5vw;
  height: 6vh;
  background-color: #eff2f9;
  border: none;
  outline: none;
}

.fontt {
  font-size: 12.8px;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}

.emp-main label {
  margin-bottom: 5px;
}

.emp-main input,
.emp-main select {
  padding: 10px;
  margin: 8px 1vw 8px 0;
}

.emp-container {
  display: flex;
}

.fonttt {
  font-size: 12.8px;
  margin-top: 1%;
  margin-bottom: 4%;
  text-align: justify;
  margin-right: 3%;
}

.sum {
  font-size: x-small;
  margin-top: -2%;
  margin-left: 5%;
}

.pincode {
  text-align: left;
  margin-left: 15%;
}

.heading {
  margin-bottom: 5%;
  margin-top: 7%;
  font-size: 16px;
}

.cont {
  margin-top: 0%;
  margin-right: 5%;
  margin-bottom: 0%;
  /* background-color: #c3e5fe; */
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

.cit {
  margin-top: 0%;
  font-size: small;
  margin-bottom: 0%;
}

.conte {
  margin-top: 0%;
  font-size: x-small;
}

.heading1 {
  font-size: 16px;
  margin-top: 10%;
  margin-bottom: 5%;

}

.res .div-heading {
  font-size: 17px;
}

.top {
  margin-top: 15%;
}

/* .ill {
  display: flex;
  width: 100%;
  border: 1px solid black;
} */

.ski {
  margin-top: -100%;
  margin-bottom: 0%;
  margin-left: -20%;
}

.ski1 {
  text-align: right;
  margin-bottom: 0%;
  width: 20px;
  /* background-color: aqua; */
  margin-top: 0%;

}

#cit {
  width: 100px;
  margin-right: 0%;
  /* background-color: #c3e5fe; */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0%;
  margin-top: 0%;
  overflow: hidden;
}

/* 
.main-full {
  background-color: black;

} */

.delete {
  background-color: white;
  border: none;
  color: blue;
  font-size: large;
}
#emp-delete{
  margin-top: -1%;
  
}

.add {
  color: #1a91f0;
  border: none;
  width: 200px;
  height: 30px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.first {
  /* background-color: #0f3871; */
  margin-right: 0%;
}

.add-section-container {
  cursor: default;
}

.drag {
  cursor: grab;


  margin-left: -3%;
  position: relative;
  top: -3px;

}

.drop {
  margin-left: -20%;
}

.progress {
  /* width: 0%; */
  height: 1vh;
  background-color: aquamarine;
}

.arrow {
  margin-bottom: 2%;
  margin-top: 0.5%;
  margin-left: auto !important;
  display: flex;
  justify-content: end;

}

.emp-main textarea {
  border: none;
  outline: none;
  background-color: #eff2f9;
  height: 150px;
  width: 559px;
  padding: 12px;
  margin-top: 8px;
}

.flex {
  border: 1px solid #e7eaf4;
  width: 103.5%;
  cursor: default;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flexx {

  border: 1px solid gray;
  width: 207%;
  border-radius: 5px;
  cursor: default;
  border: 1px solid #e7eaf4;
  cursor: default;
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#ref {
  width: 198%;
}

#flexx {
  border: 1px solid gray;
  width: 115%;
  border-radius: 5px;

}

.custom-delete {
  margin-top: 20px;
}

.intern-job-emp {
  display: flex;
}

.flexxx {
  width: 207%;
  border-radius: 5px;
  cursor: default;
  border: 1px solid #e7eaf4;
  cursor: default;
  padding: 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}

#border {
  border: 5px solid blue;
}

.des {
  width: 90%;
}

#custom {
  border: none;
  outline: none;
  border-bottom: 1px solid blue;
  font-size: 16px;
  font-weight: bold;
  max-width: fit-content;
}

#cust {
  height: 3vh;
  margin-top: 0.2vw;
  background-color: white;
  border: none;
  color: blue;
  font-size: 17.6px;
  font-weight: bold;
}

.photo-heading {

  color: #1a91f0;
  position: relative;
  left: 25px;
  margin-left: 10%;
  width: 0vw;

}

.photo-heading h4 {
  width: 10vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.mainphoto-heading {
  background-color: #ec930c;
}

.select-image {
  display: flex;
  position: relative;
  right: 33px;
}

.person-icon {
  height: 100%;
  width: 100%;


}

.drag-icon {
  position: relative;
  top: 3px;
}

.add-section-head {
  font-size: 23px;
  font-weight: 600;
}

.add-section-box {
  display: flex;
  flex-flow: wrap;
}

.add-section-container,
.education-container,
.add_section_box,
.main-div {
  margin-bottom: 30px;
}


.custom-section {
  display: flex;
  margin-right: 32px;
  margin-bottom: 10px;
  width: calc(50% - 32px);


}


.custom-btn {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  width: calc(50% -32px);
  flex: 0 0 calc(50% -32px);
}

.custom-btn:hover {
  color: #1a91f0;
  font-weight: 600;
}

.custom-btn img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.custom-section p {
  margin-top: 10px;
  font-family: TT Commons, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-size: 16px;

}




#reference {
  width: 43vw;
}

.label {
  margin-left: 6.7%;
}


@media print {
  body {
    margin: 0px;
    /* Remove page margins */
  }

  @page {
    margin: 0;
    /* Remove margins for the printed page */
  }

  #pdf-content {
    width: 99% !important;
    /* Set the width to 100% for printing */
    height: 100%;
    /* Set the height to 100% for printing */
    padding: 0;
    /* Remove padding for printing */
    margin: 0;
    /* Remove margin for printing */
    page-break-before: always;
    /* Ensure each content section starts on a new page */
  }


}




.generate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

  .generate{
   
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
  }
 



.skill-info {
  text-align: right;
  font-size: 14px;
  color: black;
  flex-grow: 1;
}

.progress-container {
  text-align: center;
  position: relative;
}

.stage-heading {
  margin-top: 10px;
}

#myProgressBar {
  display: flex;
  width: 175%;
  height: 40px;
  margin-top: 6px;

}

.main-skillls {
  display: flex;
  column-gap: 10px;
  width: 100%;

}


#skillsContainer {
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  font-size: 10px;
}

#skillsContainer button {
  font-size: 10px;
}


.progress {
  width: 100%;
  height: 30px;
  background-color: rgb(39, 175, 175);
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;

}

.progress-stage {
  height: 100%;
  width: 100%;
  float: left;
  transition: background-color 0.3s ease-in-out;

}

.progress-text {
  position: sticky;
  color: rgb(118, 119, 118);
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin-left: 65px;
    margin-top: -20px;
}

#sec-progress {
  margin-top: -20px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  /* background-color: hsl(140, 93%, 49%); */
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
}

#myProgressBar button {
  font-size: 13px;
}

.fresher {
  background-color: green;
  color: white;
  transition: background-color 1.3s ease;
  animation: colorChange 8s infinite alternate;
  animation-delay: 2s;
}

.fresher:hover {
  background-color: rgb(4, 158, 4);


}

.experience {
  background-color: rgb(2, 156, 2);
  color: white;
  animation-delay: 2s;
  animation: colorChange1 8s infinite alternate;
  transition: background-color 1.3s ease;
}

.experience:hover {
  background-color: rgb(26, 207, 26);

}

.export {
  background-color: rgb(19, 167, 19);
  color: white;
  animation-delay: 6s;
  animation: colorChange2 8s infinite alternate;
  transition: background-color 1.5s ease;
}

.export:hover {
  background-color: rgb(75, 250, 75);

}

.pro {
  background-color: rgb(36, 177, 36);
  color: white;
  animation-delay: 7s;
  animation: colorChange3 8s infinite alternate;
  transition: background-color 1.6s ease;
}

.pro :hover {
  background-color: rgb(131, 248, 131);

}

@keyframes colorChange {
  0% {
    background-color: #8be90f;
    /* Initial color */
  }

  25% {
    background-color: #2ecc71;
  }

  50% {
    background-color: #37fab9;
  }

  75% {
    background-color: #07d195;
  }

  100% {
    background-color: #0fd139;
    /* Back to initial color */
  }
}

@keyframes colorChange1 {
  0% {
    background-color: #46e96f;
    /* Initial color */
  }

  25% {
    background-color: #2fc46d;
  }

  50% {
    background-color: #2ce414;
  }

  75% {
    background-color: #a3e606;
  }

  100% {
    background-color: #98e983;
    /* Back to initial color */
  }
}

@keyframes colorChange2 {
  0% {
    background-color: hsl(113, 81%, 47%);
    /* Initial color */
  }

  25% {
    background-color: #5db481;
  }

  50% {
    background-color: hsl(135, 69%, 54%);
  }

  75% {
    background-color: #98f540;
  }

  100% {
    background-color: #07b407;
    /* Back to initial color */
  }
}

@keyframes colorChange3 {
  0% {
    background-color: #0eeb3d;
    /* Initial color */
  }

  25% {
    background-color: #2ecc71;
  }

  50% {
    background-color: #3ce77e;
  }

  75% {
    background-color: #2adb5f;
  }

  100% {
    background-color: #1cdf0a;
    /* Back to initial color */
  }
}

.progress-bar-container {
  display: flex;

  /* width: 165%; */
  flex-direction: column;
  row-gap: 5px;
}

#secondProgressBarContainer {
  width: 500%;
}

.inner-progress {
  height: 5%;
  width: 0;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Specific CSS for second progress bar background color based on stages */

.progress-bar-container[data-stage="Fresher"] .progress-bar .inner-progress {
  background-color: green;
  height: 100%;
  /* Set a fixed height for all inner progress bars */
}

.progress-bar-container[data-stage="Experience"] .progress-bar .inner-progress {
  background-color: rgb(3, 170, 3);
  height: 0%;
  /* Set a fixed height for all inner progress bars */
}

.progress-bar-container[data-stage="Export"] .progress-bar .inner-progress {
  background-color: rgb(3, 212, 3);
  height: 100%;
  color: white;
  /* Set a fixed height for all inner progress bars */
}

.progress-bar-container[data-stage="Pro"] .progress-bar .inner-progress {
  background-color: rgb(16, 228, 16) !important;
  height: 100%;
  color: white;
  /* Set a fixed height for all inner progress bars */
}

/* In your App.css or a separate CSS file */
.custom-toast {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ill {
  display: flex;
  width: 100%;
  column-gap: 2px;
  max-width: 150%;
}


.present-date {
  margin-left: 52%;
}

.present-date:hover {
  color: #1a91f0;
  font-weight: 500;

}




.inner-progress {
  height: 5%;
  width: 0;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Specific CSS for second progress bar background color based on stages */

.progress-bar-container[data-stage="Fresher"] .progress-bar .inner-progress {
  background-color: green;
  height: 100%;
  /* Set a fixed height for all inner progress bars */
}

.progress-bar-container[data-stage="Experience"] .progress-bar .inner-progress {
  background-color: rgb(3, 170, 3);
  height: 0%;
  /* Set a fixed height for all inner progress bars */
}

.progress-bar-container[data-stage="Export"] .progress-bar .inner-progress {
  background-color: rgb(3, 212, 3);
  height: 100%;
  color: white;
  /* Set a fixed height for all inner progress bars */
}

.progress-bar-container[data-stage="Pro"] .progress-bar .inner-progress {
  background-color: rgb(16, 228, 16) !important;
  height: 100%;
  color: white;
  /* Set a fixed height for all inner progress bars */
}

/* In your App.css or a separate CSS file */
.custom-toast {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ill {
  display: flex;
  width: 100%;
  column-gap: 2px;
  max-width: 150%;

}

p {
  font-size: 13px;
}

label {
  font-size: 13px;
}

.text-area {
  font-size: 13px;
}

.workk {
  font-size: 13px;
}

option {
  font-size: 13px;
}

select {
  font-size: 13px;
}

.skill-name {
  font-size: 13px;
}
.immages{
  display: flex;
}

.template1 {
  /* background-color: rgb(39, 216, 4); */
  /* border: 1px solid #ddd; */
  padding: 10px;
  /* margin: 10px; */
  cursor: pointer;
}

.template2 {
  /* background-color: rgb(47, 68, 189); */
  /* border: 1px solid #ddd; */
  padding: 10px;
  /* margin: 10px; */
  cursor: pointer;
}

.template3 {
  /* background-color: rgb(189, 47, 89); */
  /* border: 1px solid #ddd; */
  padding: 10px;
  /* margin: 10px; */
  cursor: pointer;
}

.template4 {
  /* background-color: #0596c7; */
  /* border: 1px solid #ddd; */
  padding: 10px;
  /* margin: 10px; */
  cursor: pointer;
}

#color-picker {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  /* You can change the color code */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* Text color */
  font-size: 10px;
  font-weight: bold;
}

.generate #color-picker-button {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
}


.inner-progress {
    height: 5%;
    width: 0;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  /* Specific CSS for second progress bar background color based on stages */
  
  .progress-bar-container[data-stage="Fresher"] .progress-bar .inner-progress {
    background-color: green;
    height: 100%;
    /* Set a fixed height for all inner progress bars */
  }
  
  .progress-bar-container[data-stage="Experience"] .progress-bar .inner-progress {
    background-color: rgb(3, 170, 3);
    height: 0%;
    /* Set a fixed height for all inner progress bars */
  }
  
  .progress-bar-container[data-stage="Export"] .progress-bar .inner-progress {
    background-color: rgb(3, 212, 3);
    height: 100%;
    color: white;
    /* Set a fixed height for all inner progress bars */
  }
  
  .progress-bar-container[data-stage="Pro"] .progress-bar .inner-progress {
    background-color: rgb(16, 228, 16)!important;
    height: 100%;
    color: white;
    /* Set a fixed height for all inner progress bars */
  }
  
  /* In your App.css or a separate CSS file */
  .custom-toast {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    }
    .ill{
      display: flex;
      width: 100%;
    column-gap: 2px;
    max-width: 150%;

    }
    p{
      font-size: 13px;
    }
    label{
      font-size: 13px;
    }
    .text-area{
      font-size: 13px;
    }
    .workk{
      font-size: 13px;
    }
    option{
      font-size: 13px;
    }
    select{
      font-size: 13px;
    }
    .skill-name{
      font-size: 13px;
    }
    .question-icon{
      font-size: 2rem;
      color: #07d195;
    }
    .my-tooltip{
      width: 100px;
      background-color: #07d195;
      color: black;
      height: 50px;
    }
    .competion{
      width: 100%;
      min-height: 5vh;
      max-height: auto;
      background-color: #07d195;
      border-radius: 15px;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
    }
    .percentage{
      margin-left: 3%;
      font-size: 1.5rem;
    }
    .main-heading{
      font-size: 2rem;
      font-weight: bold;
    }
    .main-gender{
     
      background-color: #eff2f9;
      width: 20vw;
      height: 6vh;
      display: flex;
      
      align-items: center;
    }
    .gender{
      margin-right: 7%;

    }

     @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    :root {
        --clr-blue: #1A91F0;
        --clr-blue-mid: #1170CD;
        --clr-blue-dark: #1A1C6A;
        --clr-white: #fff;
        --clr-bright: #EFF2F9;
        --clr-dark: #1e2532;
        --clr-black: #000;
        --clr-grey: #656e83;
        --clr-green: #084C41;
        --font-poppins: 'Poppins', sans-serif;
        --font-manrope: 'Manrope', sans-serif;
        ;
        --transition: all 300ms ease-in-out;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
    }
    
    body {
        font-size: 1.6rem;
        font-family: var(--font-poppins);
    }
    
    button {
        border: none;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        font-family: inherit;
    }
    
    img {
        width: 100%;
        display: block;
    }
    
    a {
        text-decoration: none;
    }
    
    .font-poppins {
        font-family: var(--font-poppins);
    }
    
    .font-manrope {
        font-family: var(--font-manrope);
    }
    
    
    .text-blue {
        color: var(--clr-blue);
    }
    
    .text-blue-mid {
        color: var(--clr-blue-mid);
    }
    
    .text-blue-dark {
        color: var(--clr-blue-dark);
    }
    
    .text-bright {
        color: var(--clr-bright);
    }
    
    .text-dark {
        color: var(--clr-dark);
    }
    
    .text-grey {
        color: var(--clr-grey);
    }
    
    .text-white {
        color: var(--clr-white);
    }
    
   
    .bg-blue {
        background-color: var(--clr-blue);
    }
    
    .bg-blue-mid {
        background-color: var(--clr-blue-mid);
    }
    
    .bg-blue-dark {
        background-color: var(--clr-blue-dark);
    }
    
    .bg-bright {
        background-color: var(--clr-bright);
    }
    
    .bg-dark {
        background-color: var(--clr-dark);
    }
    
    .bg-grey {
        background-color: var(--clr-grey);
    }
    
    .bg-white {
        background-color: var(--clr-white);
    }
    
    .bg-black {
        background-color: var(--clr-black);
    }
    
    .bg-green {
        background-color: var(--clr-green);
    }
    
    .text-center {
        text-align: center;
    }
    
    .text-left {
        text-align: left;
    }
    
    .text-right {
        text-align: right;
    }
    
    .text-uppercase {
        text-transform: uppercase;
    }
    
    .text-lowercase {
        text-transform: lowercase;
    }
    
    .text-capitalize {
        text-transform: capitalize;
    }
    
    .text {
        color: var(--clr-dark);
        opacity: 0.9;
        margin: 2rem 0;
        line-height: 1.6;
    }
    
    .fw-2 {
        font-weight: 200;
    }
    
    .fw-3 {
        font-weight: 300;
    }
    
    .fw-4 {
        font-weight: 400;
    }
    
    .fw-5 {
        font-weight: 500;
    }
    
    .fw-6 {
        font-weight: 600;
    }
    
    .fw-7 {
        font-weight: 700;
    }
    
    .fw-8 {
        font-weight: 800;
    }
    
    .fs-13 {
        font-size: 13px;
    }
    
    .fs-14 {
        font-size: 14px;
    }
    
    .fs-15 {
        font-size: 15px;
    }
    
    .fs-16 {
        font-size: 16px;
    }
    
    .fs-17 {
        font-size: 17px;
    }
    
    .fs-18 {
        font-size: 18px;
    }
    
    .fs-19 {
        font-size: 19px;
    }
    
    .fs-20 {
        font-size: 20px;
    }
    
    .fs-21 {
        font-size: 21px;
    }
    
    .fs-22 {
        font-size: 22px;
    }
    
    .fs-23 {
        font-size: 23px;
    }
    
    .fs-24 {
        font-size: 24px;
    }
    
    .fs-25 {
        font-size: 25px;
    }
    
    .ls-1 {
        letter-spacing: 1px;
    }
    
    .ls-2 {
        letter-spacing: 2px;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1.6rem;
    }
    
    
    .bars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16.5px;
        width: 25px;
    }
    
    .bars .bar {
        width: 100%;
        height: 2px;
        background-color: var(--clr-blue);
        transition: var(--transition);
    }
    
    .bars:hover .bar {
        background-color: var(--clr-dark);
    }
     
  
 
    
    .btn-primary {
        background-color: var(--clr-blue);
        color: var(--clr-white);
        border: 1px solid var(--clr-blue);
        transition: var(--transition);
    }
    
    .btn-primary:hover {
        background-color: transparent;
        color: var(--clr-dark);
        border-color: var(--clr-grey);
    }
    
    .btn-secondary {
        background-color: transparent;
        color: var(--clr-dark);
        border: 1px solid var(--clr-grey);
        transition: var(--transition);
    }
    
    .btn-secondary:hover {
        background-color: var(--clr-blue);
        color: var(--clr-white);
        border-color: var(--clr-blue);
    }
    
    .btn-group button:first-child,
    .btn-group a:first-child {
        margin-right: 1rem !important;
    }
    
    .navbar {
        height: 40px;
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px;
    }
    
    .navbar .container {
        width: 100%;
    }
    
    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.8rem;
    }
    
    .navbar-brand-text {
        color: var(--clr-dark);
        font-weight: 600;
    }
    
    .navbar-brand-text span {
        color: var(--clr-blue);
    }
    
    .navbar-brand-icon {
        width: 25px;
        margin-right: 6px;
        opacity: 0.8;
    }
    
    .brand-and-toggler {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header {
        min-height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .header-content {
        max-width: 740px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .header-content img {
        max-width: 760px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        margin-top: 3.2rem;
    }
    
    .lg-title {
        margin: 1.4rem 0;
        font-size: 37px;
        line-height: 1.4;
        color: var(--clr-dark);
    }
    
    .header-content p {
        margin-bottom: 2.6rem;
        line-height: 1.6;
    }
    
    
    .hole-section {
        display: flex;
        width: 100%;
        height: 611px;
        flex-direction: row;
        overflow: auto;
    
    }
    
    .button-section {
        display: flex;
        width: 100%;
        height: 55px;
    
        flex-direction: row;
        justify-content: right;
    }
    
    .form-section {
        display: flex;
        width: 50%;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;
        flex: 1;
        position: relative;
        overflow: hidden;
    
    }
    
    .form-sub {
        display: flex;
        width: 100%;
        height: 100%;
    
       
        overflow: auto;
    }
    
    .resume-section {
        display: flex;
        width: 50%;
        overflow: auto;
        flex-direction: column;
    
        min-height: auto;
        max-height: fit-content;
        align-items: center;
        background-color: #8F8ABA;
       
    
    }
    
    .resume-sub {
    
      
        word-wrap: break-word;
        overflow-wrap: break-word;
        height: 100%;
       
        overflow-y: auto;
    
    }
    
    .resume-main-sec {
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        max-height: fit-content;
        min-height: min-content;
        justify-content: center;
        align-items: center;
    
    }
    

    
    .section-one-l img {
        max-width: 545px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .section-one-r {
        margin-top: 4rem;
    }
    
    .section-one .btn-group {
        margin-top: 2rem;
    }
    
    .section-one-r {
        max-width: 545px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .section-one-r .btn-group {
        margin-top: 3rem;
    }
    
   
    .section-two {
        padding: 64px 0;
    }
    
    .section-two .section-items {
        display: grid;
        gap: 2rem;
    }
    
    .section-two .section-item {
        max-width: 350px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    
    .section-two .section-item-icon {
        margin: 1rem 0;
    }
    
    .section-two .section-item-icon img {
        width: 80px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .section-two .section-item-title {
        color: var(--clr-blue-dark);
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .section-two .text {
        margin: 0.9rem 0;
    }
    
   
    .footer {
        padding: 3rem 0;
    }
    
    .footer-content p {
        color: var(--clr-grey);
    }
    
    .footer-content p span {
        color: var(--clr-white);
    }
    
    
    @media screen and (min-width: 768px) {
        .section-two .section-items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media screen and (min-width: 992px) {
        .section-one-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 3rem;
        }
    
        .section-one-r {
            text-align: left;
        }
    
        .section-two .section-items {
            grid-template-columns: repeat(3, 1fr);
        }
    
        .section-two .section-item {
            text-align: left;
        }
    
        .section-two .section-item-icon img {
            margin-left: 0;
        }
    }
    
    
    
   
    #about-sc {
        padding: 64px 0;
    }
    
    .cv-form-row-title {
        background-color: var(--clr-dark);
        padding: 0.8rem 1.6rem;
        margin-bottom: 0rem;
    }
    
    .cv-form-row-title h3 {
        color: var(--clr-black);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 1.7rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .cv-form-blk {
        margin: 0rem 0;
    
    }
    
    .cv-form-row {
        padding: 3rem 2rem 0 2rem;
        border: 1px solid rgba(0, 0, 0, 0.08);
        margin-bottom: 1rem;
        position: relative;
    
    }
    
    textarea {
        resize: none;
    }
    
    .form-elem {
        margin-bottom: 3rem;
        position: relative;
    
    }
    
    .form-label {
        display: block;
        font-weight: 600;
        font-size: 16px;
        color: var(--clr-dark);
        margin-bottom: 0.5rem;
    
    }
    
    .form-control {
        border-radius: none;
        border: 1px solid rgba(241, 5, 5, 0.1);
        font-size: 14px;
        padding: 0.8rem 1.6rem;
        font-family: inherit;
        width: 100%;
        outline: 0;
        transition: var(--transition);
    
    }
    
    .form-control:focus {
        border-color: rgba(0, 0, 0, 0.3);
    }
    
    .form-text {
        color: #ca0b00;
        font-size: 12px;
        position: absolute;
        letter-spacing: 0.5px;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
    }
    
    .cols-3,
    .cols-2 {
        display: grid;
    }
    
    .repeater-add-btn {
        width: 25px;
        height: 25px;
        background-color: var(--clr-blue-mid);
        font-size: 1.6rem;
        color: var(--clr-white);
        margin: 1rem 0;
    }
    
    .repeater-remove-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #ca0b00;
        color: var(--clr-white);
        font-size: 1.6rem;
    }
    
   
    .preview-cnt {
        border-radius: 5px;
        display: grid;
        grid-template-columns: 32% auto;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        overflow: hidden;
    justify-content: center;
    }
    
    .preview-cnt-l {
        padding: 3rem 3rem 2rem 3rem;
        width: 40%;
        width: 200px;
    }
    
    .preview-cnt-l .preview-blk {
        padding: 3rem 0;
        margin-bottom: -3.0rem;
        hyphens: auto;
        flex: 0 0 calc(50% - 10px);
        box-sizing: border-box;
    
    
    }
    
    .preview-cnt-r {
        padding: 3rem 3rem 3rem 3rem;
        width: 90%;
        text-align: justify;
        width: 400px;
    }
    
    .preview-cnt-r .preview-blk-title h3 {
        border-bottom: 0.5px solid rgb(230, 224, 224);
    }
    
    .preview-cnt-l .preview-blk:nth-child(1) {
        text-align: center;
    }
    
    .preview-image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
    }
    
    .preview-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      
    }
    
    .preview-item-name {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 1.8rem 0;
        position: relative;
    }
    
    .preview-item-name::after {
        position: absolute;
        content: "";
        bottom: -10px;
        width: 50px;
        height: 1.5px;
        background-color: rgba(255, 255, 255, 0.5);
        left: 50%;
        transform: translateX(-50%);
    }
    
    .preview-blk {
        padding: 2rem 0;
        margin-bottom: -4rem;
        hyphens: auto;
        flex: 0 0 calc(50% - 10px);
        box-sizing: border-box;
        overflow: hidden;
        min-height: 100px;
    }
    

    
    .preview-blk-title h3 {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        border-bottom: 0.5px solid rgba(219, 33, 33, 0.08);
        padding-bottom: 0.5rem;
    }
    
    .preview-blk-title {
        margin-bottom: 1rem;
    }
    
    .preview-blk-list .preview-item {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
        opacity: 0.95;
       
        max-width: 450px;
        max-height: auto;
        overflow: hidden;
        word-wrap: break-word;
      
        
    }
    
    .preview-cnt-r .preview-blk-title {
        color: var(--clr-dark);
    }
    
    .preview-cnt-r .preview-blk-list .preview-item {
        margin-top: 1.8rem;
    
    }
    
    .preview-cnt {
        min-height: 90vh;
        max-height: fit-content;
        display: flex;
        width: 100%;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    
    .print_area {
        display: flex;
        min-height:fit-content;
        min-width: 100%;
        max-height: auto;
    }
    
    .form-control image {
        font-size: 25px;
    }
    
    .achievements-items.preview-blk-list .preview-item span:first-child,
    .educations-items.preview-blk-list .preview-item span:first-child,
    .experiences-items.preview-blk-list .preview-item span:first-child,
    .projects-items.preview-blk-list .preview-item span:first-child {
        display: block;
        font-weight: 600;
        margin-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.03);
    }
    
    .educations-items.preview-blk-list .preview-item span:nth-child(2),
    .experiences-items.preview-blk-list .preview-item span:nth-child(2) {
        font-weight: 600;
        margin-right: 1rem;
        text-align: justify;
    
    }
    
    .educations-items.preview-blk-list .preview-item span:nth-child(3),
    .experiences-items.preview-blk-list .preview-item span:nth-child(3) {
        font-style: italic;
        margin-right: 1rem;
    
    }
    
    .educations-items.preview-blk-list .preview-item span:nth-child(4),
    .educations-items.preview-blk-list .preview-item span:nth-child(5),
    .experiences-items.preview-blk-list .preview-item span:nth-child(4),
    .experiences-items.preview-blk-list .preview-item span:nth-child(5) {
        margin-right: 1rem;
        background-color: var(--clr-green);
        color: var(--clr-white);
        padding: 0 1rem;
 
        border-radius: 0.6rem;
        white-space: nowrap;
    }
    
    .educations-items.preview-blk-list .preview-item span:nth-child(6),
    .experiences-items.preview-blk-list .preview-item span:nth-child(6) {
        font-size: 13.5px;
        display: block;
        opacity: 0.8;
        margin-top: 1rem;
    
    }
    
    .projects-items.preview-blk-list .preview-item span {
        display: block;
    
    }
    
    @media screen and (min-width: 768px) {
        .cols-3 {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
        }
    
        .cols-2 {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
        }
    }
    
    @media screen and (min-width: 992px) {
        .cv-form-row {
            padding: 3rem 3rem 0rem 3rem;
        }
    
        .cols-3 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    .print-btn-sc {
        margin: 2rem 0 6rem 0;
    }
    